body {
    margin: 0;
    overflow: hidden;
    background-color: #1e1e1e; /* Dark gray background */
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
